@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@media (min-width:305px) and (max-width:485px){
    .links{
        font-size: 20px !important;
    }
}

body{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.title{
    background-color: rgba(0,0,0,0.9)
}
.links{
    font-size: 30px;
}
a{
    position: relative;
    display: inline-block;
    padding: .8em 1em;
    margin: 1.1em 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
   font-size: .7em;
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.light-mode{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    transition: background-color 1s;
}
.dark-mode{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: scroll;
    text-align: center;
    transition: background-color 1s;
}
/* drawer*/
.drawer{
    background-image: url("./Assets/josh-sorenson-B93kPaspXcA-unsplash.jpg");
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
}
#drawer{
    color: white;
    font-family: poppins;
    font-weight: 500px;
    font-size: 2rem;
}
.drawer::after{
    content: "";
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}
/* landing page*/
.heading{
    color: white;
}
.light-heading{
    text-shadow:0px 8px 8px black;
    
}
.subtext p{
    font-weight: 200;
    letter-spacing: 5px;
    color: white;
}

/* bulb styling*/
i{
    color:white;
}


.mode i{
    font-size: 50px;
    transform: rotate(180deg);
    cursor: pointer;
}
.mode{
    position: fixed;
    top:70px;
    width: 100%;
    display: grid;
    justify-content: center;
}
/*=============================
           About Me
===============================*/
.about-me{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: auto;
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
}
.about-image{
  width: 100%;
  order: 2;
}
.about-image img{
   object-fit: contain;
   height: 400px;
   width: 350px;
   margin-left: 35px;
}


.abt-text{
    margin:10px;
    color: white;
    height: 100%;
    display: grid;
    align-content: center;
}
.abt-text p{
    font-weight: 300;
    letter-spacing: 5px;
}
#email{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

/*=============================
           Chat Bot
===============================*/
.chat-main{
    display:grid;
    grid-template-rows: 1fr 4fr 1fr;
    width: 35rem;
    height: 40rem;
    margin: 0 auto;
    
}
.chat-text{
    overflow: scroll;
    margin:  15px;
    
}
li{
    list-style: none;
    padding: 5px;
    color: white;
}
/* project page*/
.project_wrapper iframe{
    height:1440px;
    width:900px
}
.project_wrapper{
    height:100vh;
    padding:10px;
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: scroll;
    display: flex;
}
.thumbnail_container {
    width: calc(1440px * 0.25);
    height: calc(900px * 0.45);
    display: inline-block;
    overflow: hidden;
    position: relative;
  }
.thumbnail {
    position: relative;
    transform-origin: 0.25;
    transform: scale(0.25);
    zoom: 1;
    -ms-zoom: 0.25;
    -moz-transform: scale(0.25);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.25);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
  }
  .thumbnail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
.project-tab{
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    overflow: scroll;
}
.project-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    
}
.project-card section{
    padding: 10px;
}
.bot{
    position: fixed;
    bottom: 0;
    right: 0;
}
.bot i{
    font-size: 3rem;
    padding: 10px;
    cursor: pointer;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }
@media (max-width:476px){
    .bot{
        display: none 
    }  
  }